@charset "utf-8";
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");
/* CSS Document */

html{
	background:url(../img/bg.jpg) no-repeat right center;
	height:100%;
	background-size:75%;
}

body{
	background:transparent;
	min-height:100%;
}

.sidebar{
	position:absolute;
	background:#000;
	width:25%;
	height:100%;
	color:#fff;
}

.sidebar #logoHighland{
	font-size:36px;
	position:relative;
}

.sidebar #logoHighland .logoHh{
}

.sidebar #logoHighland .logoHi{
}

.sidebar #logoHighland .logoHg{
}

.sidebar #logoHighland .logoHh{
}

.sidebar #logoHighland .logoHl{
}

.sidebar #logoHighland .logoHa{
}

.sidebar #logoHighland .logoHn{
}

.sidebar #logoHighland .logoHd{
	position:absolute;
	right:-8px;
	top:5px;
}



.content{
	position:relative;
	width:75%;
	margin-left:auto;
	margin-right:0;
}